@import "~dashBoard/sport/css/bootstrap.min.css";
@import '~font-awesome/css/font-awesome.min.css';
@import "~dashBoard/sport/css/responsive.css";
@import "~dashBoard/sport/css/custom.css";
@import "~dashBoard/sport/css/3dslider.css";
@import "~dashBoard/sport/style.css";
.imgTeam{
    width: 29px;
    height: 31px;
}
a:hover{
    cursor: pointer;
}

